@model BSIT3L_Movies.Models.MovieViewModel
@{
    ViewData["Title"] = @Model.Name;
}

<!DOCTYPE html>
<html>
<head>

    <title>Movie</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.0/lazysizes.min.js"></script>
    <link rel="stylesheet" href="~/css/GetMovie.css" asp-append-version="true" />
</head>
<body>

    <div class="movie-title">
        <h2>@Model.Name</h2>
    </div>

    <div class="wrapper">
        <div class="movie-container">
        <div class="movie-image">
                <img data-src="@Model.ImageUrl" alt="@Model.Name" class="lazyload" />
</div>
        <div class="movie-trailer">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.YouTubeVideoId" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="movie-container2">
            <div class="movie-details">
                <p>Movie ID: @Model.Id</p>
                <p>Rating: @Model.Rating</p>
                <p>Release Year: @Model.ReleaseYear</p>
                <p>Genre: @Model.Genre</p>
            </div>
        </div>
        </div>


</body>
</html>